body{
    background-color: beige;
    text-align: center;
}

.divTable{
	display: table;
	margin: auto;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 10px;
}

.divTableCell img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}