body {
    margin: 0;
    overflow: hidden;
    background: beige;
    font-family: Ariel, sans-serif;
    color: black;
}

/*Image*/
#image {
    position: absolute;
    width: 300px;
}

/*Text*/
#text {
    position: absolute;
    font-size: 24px;
    white-space: nowrap;
}

/*shape*/
#shape {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}